{
    "extends": [
        "@semantic-pie/eslint-config",
        "@semantic-pie/eslint-config/prettier",
        "@semantic-pie/eslint-config/import"
    ],
    "root": true,
    "env": {
        "node": true
    }
}
